.outer {
    background-color: #050c3e;
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.inner {
    background-color: #ffb100;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}